@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
@import url(https://fonts.googleapis.com/css?family=Courgette)

@media (min-width: 1200px)
.container
    max-width: 1340px

.txc
    text-align: center

//header
header
    background-image: url(../../public/images/banner1.jpg)
    background-size: cover
    h1
        padding: 8rem 30rem 4rem 30rem
        font-size: 3rem
.opac
    background: url('../../public/images/bottom_decoration_img.png') bottom repeat-x, linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
.opacity1
    background-color: black
    opacity: 0.8
    height: 100%
    width: 100%
.nav1
    text-align: center
    font-size: 18px
.buttonHeader
    padding: 0rem 0rem 15rem 0rem
.borderNav
    border-top: 1px solid
    border-bottom: 1px solid
    border-color: white
.navIntraPadding
    padding: 1rem 1rem 1rem 1rem
    &:hover
        background-color: red
.container
    .col-5
        padding-top: 1rem
.coverScreen
    background: img-fluid
.btn
    border-radius: 2rem
    font-size: 1.5rem
.btn1
    margin-left: 0.5rem
    margin-right: 1.5rem
    padding: 1rem

.btn2
    margin-right: 0.5rem
    padding: 1rem
.fa-circle
    color: white
.quote1
    font-family: Courgette
    font-style: cursive
.inQuote1
    font-size: 6rem
.inQuote2
    font-size: 6rem
    color: red
.inQuote3
    font-size: 4.5rem
.inQuote4
    font-size: 4.5rem
.title1
    margin: 0rem 3rem
// section2
.vegetablesBackground
    background-image: url(../../public/images/main_bg.jpg)
    // background-size: cover
    .container
        padding-top: 7rem
.whiteBG
    background-color: white
    margin-bottom: 7rem
.titleSwag
    font-family: Courgette
    text-align: center
.titleRed
    color: red
    font-size: 4rem
.ourStoryTitle
    text-align: center
    font-size: 3rem
.ourStory
    padding: 0rem 15rem 0rem 15rem
.pOurStory
    text-align: center
    padding-top: 4rem
    padding: 2rem 13rem
    margin-bottom: 4rem
// menulist
.iSwag
    color: #dee0e2
    text-align: center
    &:hover
        color: red
.fa-lg
    padding-bottom: 1rem
.WHITE
    color: white
.iconeFood
    text-align: center
    border-bottom: 1px solid #dee0e2
    border-right: 1px solid #dee0e2
    padding: 2rem 0rem
    &:hover
        border-right: 8px solid red
.imgRound
    border-radius: 5rem
    height: 100%
    width: 25%
.pTabs
    padding: 1rem 0rem 0rem 1rem
.dFlex
    display: flex
    border-bottom: 1px solid #dee0e2
    padding-bottom: 1rem
    padding-top: 1rem   
.deerPotatoes
    font-weight: 700
.price25
    text-align: center
    color: red
    font-size: 1rem
    background-color: #dee0e2
    margin: auto
    padding: 0rem 0.5rem 0rem 0.5rem
      
// 4corners
.trianglesTop
    overflow: hidden
.trianglesBottom
    overflow: hidden
.corner1
    float: left
.corner2
    float: right
.corner3
    float: right
.corner4
    float: left

// section 3
.blackBG
    background-image: url(../../public/images/team_background.jpg)
    background-size: cover
    display: flex
.h1Swag
    text-align: center
    padding-top: 5rem
.chefs4
    text-align: center
    display: flex
    padding: 3rem 0rem 10rem 0rem
    justify-content: center
.chef1
    margin: 0rem 4rem
    border-bottom: 2px solid

img
    h4
        border-bottom: 1px solid #dee0e2

// section 4 main
.borderRound1
    border-radius: 2rem
    border: 0.6rem solid #dee0e2
.txtLeft
    text-align: left
    padding-top: 1rem
.redQuote1
    background-color: red !important
    border-radius: 1rem
    margin: 0rem 6.5rem
    font-size: 1.5rem
    color: white
    padding: 0.6rem
    position: relative
    margin-top: -2rem
.btnKnoMo
    margin: 1rem 35rem
// .imgBlog1
//     background-image: url(../../public/images/blog_img1.jpg)

// section 4 form
.callUs
    color: white
    padding-top: 5rem
    padding-bottom: 2rem

.formSwag
    background-image: url(../../public/images/book_table_bg.jpg)
    text-align: center
    background-size: cover
    border-radius: 2rem
    padding: 0rem 2rem
    margin: 6rem
input
    border-radius: 1rem
    padding: 1rem 10rem 1rem 2rem
    margin: 1rem -3rem 0rem -2rem
form
    margin: 4rem 11rem
.containerSwag
    padding-bottom: 8rem
.strongP
    font-size: 2rem
.formInner
span

.vegetablesBackground1
    background-image: url(../../public/images/main_bg.jpg)
    padding-bottom: 4rem
.pushdown2
    padding-top: 8rem
//section 5 testimonials
.clientTestimonials
    background-image: url('../../public/images/testimonials_background.jpg')
    background-size: cover
    padding-bottom: 7rem
    float: center
    .imgDiv
        text-align: center
.imgTesti1
    border-radius: 8rem
    border: 5px white solid
    margin: 0rem 0rem 0rem 0rem
.imgTesti2
    border-radius: 8rem
    border: 5px white solid
    margin: 0rem 0rem 0rem 0rem
.pTesti
    color: white
    font-size: 1.3rem
    padding-top: 1rem
.borderTesti
    border: 1px solid white
    border-radius: 1rem
.pushdown1
    padding-bottom: 10rem
.titleWhite
    color: white
.manager
    color: red
    font-size: 1.5rem
.testiOffset
.testiImg
    border-radius: 50%
    border: 5px solid #e1e0e0
.testimonialCarousel
    .h6
        font-size: 20px !important
        font-family: 'Lato', sans-serif
        font-weight: 500
.caption
    color: #fff
    border: 1px solid rgba(255,255,255,0.5)
    padding: 10px
    border-radius: 10px
    font-size: 15px
    font-weight: 300
.carousel-inner
    position: relative
    width: 100%
    overflow: hidden

// section(6)
.redSign
    background-color: red
    margin: 0rem 40rem
    border-radius: 1rem
    color: white
    font-size: 1.3rem
    padding: 1rem

.borderSwag
    border-bottom: 1px solid white
    padding-top: 1rem
    padding-bottom: 1rem

// section(7)
.bgFooter
    background-image: url(../../public/images/footer_background.jpg)
    padding: 5rem 0rem
.containerFooter
    margin: 0rem 9rem
.iSpace
    padding-right: 2rem
.dFlexible
    display: flex
.redTag
    background-color: red
    border-radius: 1rem
    color: white
    border: 1px solid white
    padding: 0.4rem 1rem
    margin: 0.5rem 1rem 0.5rem 0rem
.pushdown3
    padding-bottom: 2rem
.pushdown4
    padding-top: 1rem

// endbar
.copyright
    color: white
    text-align: center
    padding-top: 3rem
.endbar
    background-color: red
    height: 7rem